
.channelBtn {
    border: none;
    background-color: white;
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding-top: 5px;
}

.ChannelIcon {
    width: 20px;
    height: 20px;
}

.showmember-ul {
    margin: 0;
    padding: 0;
}

.showmember-li {
    list-style: none;
}

.channel-title-Header {
    cursor: pointer;
}